.navbar {
  display: flex;
  width: 100%;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 32px;
  z-index: 111100;
  position: fixed;
  left: 0;
  top: 0;

  @media (max-width: 824px) {
    display: none;
  }
}

.logo {
  font-size: 62px;
}

.nav {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;

  &_link {
    font-weight: 600;
    &:hover {
      opacity: 0.75;
    }
  }

  &_lang {
    display: flex;
    align-items: center;
    gap: 56px;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}

.active {
  transform: scale(1.5);
}