.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.logo {
  font-size: 62px;
}

.nav {
  display: flex;
  gap: 112px;

  &_link {
    font-weight: 600;
    &:hover {
      opacity: 0.75;
    }
  }

  &_lang {
    display: flex;
    align-items: center;
    gap: 56px;
  }
}

.active {
  transform: scale(1.5);
}