.container {
  padding: 0 41px 0 51px;
  margin-top: 48px;
  margin-top: 75px;

  @media screen and (max-width: 800px) {
    padding: 0 4px;
  }
}

.gallery {
  margin-top: 42px;
  margin-bottom: 42px;
  display: flex;
  gap: 32px;
  @media (max-width: 725px) {
    flex-wrap: wrap;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 50%;

    @media (max-width: 725px) {
      flex-basis: 100%;
    }
  }
}