.container {
  padding: 0 41px 0 51px;
  margin-top: 48px;

  @media screen and (max-width: 800px) {
    padding: 0 4px;
  }
}

.gallery {
  margin-top: 42px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}

.pdf {
  width: 100%;
  min-height: 100%;
}