.titleWithBtn {
  display: flex;
  gap: 12px;
  &__btn {
    @media (max-width: 825px) {
      display: none;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
    margin: 0 auto;

    @media (max-width: 825px) {
      font-size: 32px;
    }
  }
}