.container {
  padding: 0 41px 0 51px;
  margin-top: 48px;
  margin-top: 75px;

  @media screen and (max-width: 800px) {
    padding: 0 4px;
  }
}

.gallery {
  margin-top: 42px;
  margin-bottom: 42px;

  &__row {
    position: relative;
    text-align: center;

    &:nth-child(2) div &__num {
      color: #8CA234;
    }

    div {
      display: flex;
      justify-content: space-between;
    }

    &__num {
      font-size: 300px;
      font-family: var(--font-goldman);
      line-height: 70%;

      @media screen and (max-width: 800px) {
        font-size: 100px;
      }
    }

    &__title {
      font-size: 40px;
      font-weight: 800;

      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
    }
  }
}

.man {
  @media screen and (max-width: 800px) {
    display: none;
  }
}