.projectCard {
  position: relative;
  &_authors {
    margin-top: 12px;
  }

  &_authors, &_name {
    display: block;
    font-weight: 800;
    font-size: 24px;

    @media screen and (max-width: 800px) {
      font-size: 16px;
      padding: 0 4px;
    }
  }
}